body {
    background-color: rgb(20 20 20);
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

img {
    width: 500px;
}

h1 {
    color: transparent;
    font-size: 40px;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(0, 195, 255) , rgb(255, 0, 170));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: rgb(37, 37, 37);
    font-size: 12px;
}

button {
    width: 200px;
    height: 40px;
    color: red;
    font-size: 25px;
    background-color: dimgrey;
    border-color: transparent;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}